main {
	padding: 20px;
	color: #FAFAFA;
	border: 1px solid #383838;
	background-color: #1E1E1F;
	border-radius: 27px;
}

nav {
	position: relative;
	top: -20px;
	left: 52.4%;
	width: 50%;
	display: flex;
	justify-content: space-around;
	background-color: #2B2B2CBF;
	border-top-right-radius: 27px;
	border-bottom-left-radius: 27px;
	border: 1px solid #383838;
	color: #D6D6D6;
	font-size: 15px;
	font-weight: 600;
}

.links-nav {
	cursor: pointer;
	transition: 0.3s;
}

.links-nav:hover {
	color: #9e9e9e;
}

.info-txt {
	line-height: 35px;
	color: #D6D6D6;
}

.container-hr {
	width: 100%;
	display: flex;
	justify-content: start;
	text-align: start;
	/* background-color: red; */
}

.hr-titulos {
	/* position: relative;
	top: -15px;
	left: -345px; */
	width: 100px;
	height: 5px;
	background-color: #D6D6D6;
	border: none;
	border-radius: 10px;
	margin-left: 0px;
}