a {
	color: #000;
}

aside {
	width: 380px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 20px;
	background-color: #1E1E1F;
	border-radius: 27px;
	border: 1px solid #383838;
}

.hr {
	width: 280px;
	border: none;
	height: 1px;
	background-color: #d6d6d6b3;
}

.titulo-name {
	color: #fff;
}

.section-titulo {
	text-align: center;
	font-weight: 500;
	margin-top: -10px;
	padding: 5px;
	background-color: #393939;
	border-radius: 8px;
	color: #fff;
	transition: 0.3s;
}

.section-titulo:hover {
	scale: 1.04;
}

.container-foto {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-avatar {
	margin-top: 20px;
	border-radius: 30px;
	background-color: #393939;
}

.container-mail {
	width: 100%;
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

.container-cumple {
	width: 100%;
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

.title-infos {
	color: #d6d6d6b3;
}

.txt {
	color: #FAFAFA;
}

.icons {
	width: 30px;
	height: 20px;
	margin-left: 20px;
	padding: 10px;
	background-color: #202022;
	background: linear-gradient( to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50% );;
	border-radius: 10px;
	scale: 1.4;
	color: #FAFAFA;
}

.name-email {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* background-color: red; */
}

.name-email p {
	margin-top: 0px;
	margin-right: 10px;
}

.container-telefono {
	display: flex;
	margin-top: 30px;
}

.container-info-telefono {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* background-color: red; */
	margin-left: 20px;
}

.container-info-telefono p {
	margin-top: 0px;
}

.container-location {
	display: flex;
	margin-top: 30px;
}

.container-info-ubicacion {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 20px;
}

.container-info-ubicacion p {
	margin-top: 0px;
}

.container-info-cumple {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.container-info-cumple p {
	margin-top: 0px;
}

.container-redes {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.container-icons-redes {
	width: 50%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icons-redes {
	scale: 1.4;
	color: #d6d6d6b3;
	transition: 0.3s;
}

.icons-redes:hover {
	transform: scale(1.2);
}